<h2><%= t '.edit_lunch_vendor' %></h2>

<% form_for @vendor, :url => vendor_path(@vendor) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit t('.update_button') %>
<% end %>