<h2><%= t '.add_lunch_vendor' %></h2>

<% form_for @vendor, :url => vendors_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit t('.add_button') %>
<% end %>
