<h2>Lunch options for <%= @date %></h2>

<%= link_to t('.add_lunch_option_link'), new_lunch_path %>
<% if !@lunches.empty? %>
  <p>
  <table>
    <tr>
      <td><b>Vendor</b></td>
      <td><b>ID</b></td>
      <td><b>Description</b></td>
      <td><b>Price</b></td>
    </tr>
    <% @lunches.each do |l| %>
      <%= render :partial "lunch_to_show" %>
    <% end %>
  </table>
  </p>
<% end %>
