<h2>Add new lunch</h2>

<% form_for @lunch, :url => lunches_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:form => f, :lunch => @lunch} %>
  <%= f.submit "Add" %>
<% end %>
